<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techpanda.techcash">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.Ad_ID" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:node="remove" />

    <application
        android:name="com.techpanda.techcash.helper.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.techpanda.techcash.FragmentLoadingActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.techpanda.techcash.csm.TransActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.AppsActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.VisitLinksActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.VisitActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.InstallActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.RefTaskActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.OffersActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.RedeemActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.GameActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.VideoActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.OfferWallActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.FragViewerActivity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.helper.test"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.csm.PlayActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techpanda.techcash.Refer_Activity"
            android:exported="false" />
        <activity
            android:name="com.techpanda.techcash.TransactionActivity"
            android:exported="true" />
        <activity
            android:name="com.techpanda.techcash.csm.ActivitySplash"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Start OPL Activity -->
        <activity android:name="com.techpanda.techcash.csm.MainActivity" />
        <activity
            android:name="com.techpanda.techcash.Activity_Login"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.FullScreen" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.techpanda.techcash.Just_base"
            android:label="" />

        <service
            android:name="com.techpanda.techcash.helper.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.techpanda.techcash.helper.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.techpanda.techcash.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.FullScreen" />
        <activity android:name="com.techpanda.techcash.luck_draw.Activity_Notification" />
        <activity
            android:name="com.ayetstudios.publishersdk.OfferwallActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter android:label="offer">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.example.myapplication"
                    android:scheme="offer" /> <!-- Replace with your lower case package name -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ayetstudios.publishersdk.VideoActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="com.ironsource.lifecycle.IronsourceLifecycleProvider"
            android:authorities="${applicationId}.IronsourceLifecycleProvider" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Admob components -->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/App_lovin_sdk_key" />
        <meta-data
            android:name="AYET_APP_KEY"
            android:value="@string/AYET_APP_KEY" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="com.startapp.sdk.adsbase.StartAppInitProvider"
            android:authorities="${applicationId}.startappinitprovider"
            tools:node="remove" />

        <activity
            android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
    </application>

</manifest>